.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}

.header li {
  margin-left: 1rem;
  transition: all 0.3s;
}

.header li:hover {
  transform: scale(1.25);
}

.header a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #fcb8d2;
  transition: all 0.3s;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

@media screen and (min-width: 400px) {
  .logo {
    font-size: 1.4rem;
  }

  .header a {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .logo {
    font-size: 2rem;
  }

  .header a {
    font-size: 1.5rem;
    margin-left: 4rem;
  }
}
